@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("assets/css/header.css");
@import url("assets/css/main.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --little-white:#EEEEEE;
    --dark-gray: #262626;
    --dark-large-gray: #131313;
    --dark-bolder-large-gray:#070707;
    --white: #FFFFFF;
    --black: #000000;
    --gold:#fffd6f;
}

body {
    background-color: var(--dark-large-gray);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.body-white {
    background-color: var(--little-white);
    transition: 0.2s;
}