.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-gray);
    border-bottom: 1px solid var(--little-white);
    box-shadow: 0px 4px 10px black;
    height: 100px;
    top: 0;
}

.header__botao {
    height: 50px;
    margin: auto 5px;
    padding: 10px;
    border-radius: 5px;
    border-color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.header__botao:hover {
    transform: scale(1.10);
    transition: 0.2s;
}

.header__botao:active {
    background-color: var(--white);
    color: var(--violet);
}

.link__header {
    color: white;
    text-decoration: none;
}

.link__header-name {
    margin: auto 5px;
}

.nav {
    margin: auto 5px;
}

.nav__link {
    margin: 0px 5px;
}

.nav__link:hover {
    font-size: 1.2rem;
    transition: 0.2s;
    color: var(--violet);
}

label {
    margin: auto 2px;
}

.social_media {
    display: none;
}

.img_menu {
    cursor: pointer;
}

#input__menu_social_media {
    display: none;
}

#input__menu_social_media:checked~.social_media {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bolder-large-gray);
    border-radius: 10px;
    top: 18%;
    left: 70%;
    width: 150px;
    padding: 10px;
    box-shadow: 5px 4px 10px black;
}

.link__social_media {
    display: flex;
    padding: 5px;
    text-decoration: none;
}

.link__social_media p {
    margin-left: 10px;
    color: white;
}