.section {
    border: 1px solid var(--little-white);
    margin: 150px auto;
    padding: 20px;
    height: 50%;
    width: 90%;
    border-radius: 7px;
    box-shadow: 1px 4px 10px white;
}

.section__title {
    background: #e8e8e8;
    background: linear-gradient(171deg, rgba(232, 232, 232, 1) 0%, rgb(179, 125, 255) 35%, rgba(212, 212, 212, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
}

.section__text{
    text-indent: 20px;
    text-align: justify;
    color: var(--little-white);
}

.section_title_dark {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--black);
    background-clip: text;
}

.section__text_dark {
    color: var(--black);
}

.section_dark {
    border: 1px solid var(--black);
    box-shadow: 1px 4px 10px var(--black);
}

.section__about {
    margin-top: 500px;
}

.section__img {
    width:200px;
    border: 1px solid var(--little-white);
}

.section__img-dark{
    border: 1px solid var(--black);
}

.about {
    display: flex;
}

.section__text-about {
    margin: 10px;
}

.skills img {
    border: 1px solid var(--little-white);
    margin: 10px 5px;
    padding: 20px;
}


.section_journed {
    margin-top: 70vh;
}


.section__list {
    list-style-type: none;
}

.section__list-item {
    border: 1px solid var(--little-white);
    margin: 10px;
    padding: 10px;
}

@media (max-width:1080px){
    .section__title {
        font-size: 2.5rem;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section__img {
        width: 300px;
    }
}