.section {
    border: 1px solid var(--little-white);
    margin: 100px auto;
    padding: 20px;
    height: 50%;
    width: 90%;
    border-radius: 7px;
    box-shadow: 1px 4px 10px white;
}

.section__title {
    background: #e8e8e8;
    background: linear-gradient(171deg, rgba(232, 232, 232, 1) 0%, rgb(179, 125, 255) 35%, rgba(212, 212, 212, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
}



.section__text{
    text-indent: 20px;
    text-align: justify;
    color: var(--little-white);
}

.section_title_dark {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--black);
    background-clip: text;
}

.section__text_dark {
    color: var(--black);
}

.section_dark {
    border: 1px solid var(--black);
    box-shadow: 1px 4px 10px var(--black);
}

.section__about {
    margin-top: 500px;
}

.link__alura {
    text-decoration: none;
    color: var(--little-white);
}

.link__alura:active {
    color: var(--violet);
}

.section__img {
    width:200px;
    border: 1px solid var(--little-white);
}

.section__img-dark{
    border: 1px solid var(--black);
}

.about {
    display: flex;
}

.section__text-about {
    margin: 10px;
}

.skills {
    border: 1px solid var(--little-white);
    display: grid;
    grid-template-columns: repeat(4,150px);
    justify-content: center;
    gap: 10px;
}

.skills_dark {
    border: 1px solid var(--black);
}

.skills img {
    margin: 10px 5px;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.html-section-about,
.css-section-about,
.javascript-section-about,
.python-section-about,
.java-section-about {
    display: none;
}


#html-about,
#css-about,
#javascript-about,
#python-about,
#java-about  {
    display: none;
}

#html-about:checked ~.html-section-about,
#css-about:checked ~.css-section-about,
#javascript-about:checked ~.javascript-section-about,
#python-about:checked ~.python-section-about,
#java-about:checked ~.java-section-about {
    position: absolute;
    display: block;
    color: var(--little-white);
    background-color: var(--dark-gray);
    border: 1px dotted var(--little-white);
    width: 10%;
    height: 20%;
    padding: 20px;
    transform: translate(20px,30px);
    font-size: 0.9rem;
}



.section_journed {
    margin-top: 70vh;
}

.section__project-itens {
    border: 1px solid var(--little-white);
    height: 400px;
    padding: 20px;
    display: flex;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--violet);
    width: 50%;
    padding: 15px;
    height: auto;
}

.section__title-item {
    color: var(--little-white);
    text-align: justify;
    font-style: italic;
    font-size: 1.2rem;
}

.project-img {
    width: 200px;
    margin: 10px auto;
}

.link__item {
    margin-top: 10px;
    text-decoration: none;
    color: var(--little-white);
    background: #e8e8e8;
    background: linear-gradient(171deg, rgba(232, 232, 232, 1) 0%, rgb(179, 125, 255) 35%, rgba(212, 212, 212, 1) 100%);
    padding: 20px 30px;
    font-size: 1.1rem;
    border-radius: 7px;
}

.link__item-dark {
    -webkit-text-fill-color: var(--little-white);
    background: var(--black);
}

.example {
    display: flex;
}

.card-january {
    overflow: auto;
    height: 60vh;
}

.card-february {
    margin-top: 20px;
    overflow: auto;
    height: 60vh;
}

.section__list {
    list-style-type: none;
}

.section__list-item {
    border: 1px solid var(--little-white);
    margin: 10px;
    padding: 10px;
}

.section__list-item-dark {
    border: 1px solid var(--black);
}

@media (max-width:1080px){
    .section__title {
        font-size: 2.5rem;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section__img {
        width: 300px;
    }

    #html-about:checked ~.html-section-about {
        font-size: 0.8rem;
        text-align: justify;
    }
}

@media (max-width:673px) {

    .section__title {
        font-size: 2.3rem;
        text-align: center;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(2,100px);
    }
}

@media (max-width: 900px) {
    .formations {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:739px){

    .section__projects {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section__project-itens {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px auto;
        height: 65vh;
    }

    .section__title {
        text-align: center;
    }

    .section__title-item {
        font-size: 0.6rem;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .project-img {
        width: 150px;
    }

    .link__item {
        padding: 10px;
        width: 90%;
        height: 20%;
        font-size: 0.57rem;
        line-height: 10%;
    }

    .section_classification h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 476px) {
    .section__title-item {
        font-size: 0.8rem;
    }

    .project-img {
        width: 125px;
    }


    #html-about:checked ~.html-section-about {
        font-size: 0.8rem;
        text-align: justify;
        width: 25%;
        transform: translate(50px,-150px);
    }

}